extends layout

block content
  .w3-card
    header.w3-container.w3-teal
      h1= title 
  .w3-container 
    ul.w3-ul 
      li 
        a(href='/alunos' class="w3-button w3-block w3-light-grey") Listar alunos