extends layout

block content
    .w3-card-4
        header.w3-container.w3-blue-grey
            h1 Remover contrato

        p  Tem certeza que pretende eliminar o contrato: #{contratoId}?

        form(method='POST')
            span 
                button.w3-btn.w3-amber.w3-mb-2.w3-round.w3-margin-top.w3-margin-bottom(type="submit") Confirmar
            span            
                a(href='/' class="w3-button w3-light-grey w3-round w3-margin-top w3-margin-bottom" style="width:100px") Cancelar
            span