doctype html
html
  head
    meta(charset="UTF-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='icon', href='/images/favicon.png')
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    block content

  footer.w3-container.w3-light-blue
    h5 EngWeb2025 - #{data} 